#header{
    background-color: #1C437B  ;
    height: 150px;
    text-align: center;
    
}

#header-text{
    line-height: 140px
    
}
.card-header{
    background-color: #E0E5E4;
}

.card-footer{
    background-color: none;
}

